---
import Layout from "../layouts/Layout.astro";

const emails = ["tiendat.dev@outlook.com", "fiezt@outlook.com", "fiezt@pm.me"];
---

<Layout title="Welcome to Astro">
    <main class="h-full static w-full">
        <div
            class="absolute top-0 inset-x-0 flex justify-center items-center py-4"
        >
            <a href="/" title="Back">
                <img class="invert" src="/icons8-back-50.png" />
            </a>
        </div>
        <div
            class="container mx-auto items-center justify-center flex flex-col h-full"
        >
            {
                emails.map((v) => (
                    <a href={`mailto:${v}`}>
                        <p>{v}</p>
                    </a>
                ))
            }
        </div>
    </main>
</Layout>

<style>
    p {
        @apply text-white font-mono font-semibold text-xl;
    }
</style>
